<h1><%= @list.title %></h1>
<p><%= @list.description %></p>
 <h3></h3>Role: <%= @role %></h3>
<br>
<br>
<p>add item</p>
<form action="/items" method="post">
    <label for="title">title:</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="content">desc:</label>
    <input type="text" name="content" id="content">
    <br>
    <button type="submit">Add Item</button>
</form>

<h4>Items:</h4>
<% if @list.items.count > 0 %>
    <% @list.items.each do |item| %>
        <h3><%= item.title %></h3>
        <p><%= item.content %></p>
        <p><%= item.acquired %></p>
        <form action="/items/<%= item.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete Item</button>
        </form>
        <br>
    <% end %>
<% else %>
    <h4>This list seems to be empty. Add an Item!</h4>
<% end %>

<% if @role == 'admin' %>
    <form action="/lists/<%= @list.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete List?</button>
    </form>
<% end %>
